@import url("font-awesome.css");
@import url(font.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(material-design-iconic-font.min.css);
@import url(material-design-iconic-font.css);
@import url(lightbox.css);
@import url(mara.min.css);
@import url(toastr.css);
@import url(toastr.min.css);
@import url(sweetalert.css);
@import url(imgur.min.css);
@import url(jquery-confirm.css);
@import url(jquery.fancybox.min.css);
@import url(datepicker.css);
/*@import url(flaticon/flaticon.css);*/
*,p{
font-family: 'Droid Arabic Naskh' , serif;
font-family: 'JF Flat';
}
p{
font-family: 'JF Flat' !important;
}
.toast {
  /*  display: block !important;     */
    word-break: normal !important;
    font-size: 15px;
}
@media only screen and (min-width: 1025px) {
#toast-container {
    top: 12px !important;
    right: 12px !important;

}
}

html[dir="rtl"] .images .col, html[dir="rtl"] .videos .col {
    float: left !important;
}
span.badge{
    position: inherit;
}
.clear{
        clear: both;
}
footer.page-footer .footer-copyright {
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'JF Flat' !important;
}
html body .wrapper main{
      padding-bottom: 0px;
      margin-bottom: 0px;
}
[dir="rtl"] footer {
    padding-left: 0;
    padding-right: 0px;
}
[dir="rtl"] .fancybox-caption{
     text-align: right !important;
}

html body.boxed-layout .wrapper.vertical-sidebar{
    max-width: 970px;
}
#footer-post{
        margin-top: 10px;
}

.divider {
    height: auto;
    padding: 12px;
}
a{
  /*  color: rgba(255, 255, 255, 0.72);  */
}
.item{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 6px 13px;
    display: inline-block;
}
.card .card-content {
    padding: 0px;

}
.card .card-content .textLin{
    padding: 10px;

}
.timeline-page .timeline .timeline-milestone{
        background-color: #b02e67;
}
.timeline-page .timeline .more::after{
    width: 0px;
}
.timeline-page .timeline .more{
    background-color: #33222a00;
}
.timeline .milestone-title{
        background-color: rgba(0,0,0,0.1);
}
.copy a{
    color: rgba(255,255,255,0.7);
    font-weight: 700;
}
.toast a{
    color: rgba(251, 247, 247, 0.6);
}
.toast .fa,.toast img{
    display:none;
}
.images .card .card-image img  {
    height: 250px;
}
.datepicker.-from-bottom-{
  display: none;
}
.datepicker .active{
  display: block !important;
}
nav.datepicker--nav {
    height: auto;
    line-height: normal;
    background-color: transparent;
    color: #988a8a;
    width: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
}
.datepicker--time-row input[type=range]+.thumb{
  background-color:  transparent !important ;
}
.datepickers-container{
  direction: ltr !important;
}
html body.horizontal-navigation .wrapper.vertical-sidebar .dropdown-content {
    min-width: auto !important;
}
 .timeline-full .timeline-page .timeline .timeline-event::after {
    right: 19px;
     left: 0px;
}
[dir="rtl"] .timeline-full  .timeline-page .timeline .timeline-badge {
    left: inherit;
}
.timeline-full .timeline-page .timeline .timeline-badge {
    right: 0;
}
.timeline-full .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::before, .timeline-full .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after {
    right: -35px;
}
[dir="rtl"] .timeline-full .timeline-page .timeline .timeline-event .timeline-content .content-box::before, [dir="rtl"] .timeline-full .timeline-page .timeline .timeline-event .timeline-content .content-box::after {
    left: inherit;
}
.timeline-full .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after {
    background: #fff url(../timeline_item_content_l.png) no-repeat;
    background-size: 100% 100%;
}
.timeline-full .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::before, .timeline-full .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
    right: -35px;
}

.timeline-full  .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
    background: #fff url(/timeline_item_content_l.png) no-repeat;
    background-size: 100% 100%;
}
.timeline-full  .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-right: 70px;
        margin-left: 0px;
}
.timeline-full  .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-right: 70px;
        margin-left: 0px;
}
.timeline-full  .timeline-page .timeline .timeline-event .timeline-content .content-box {
    padding: 0 30px 20px;

}
[dir="rtl"]  .timeline-full .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content {
    float: right;
      width: calc(100% - 70px);
}
[dir="rtl"] .timeline-full .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content {
    width: calc(100% - 70px);
}
.content-box img {

    max-height: 200px;
}
.content-box a {
    color: #b02e67;
}
.logo-text{
    font-weight: 600;
    font-size: 21px;
}

[dir="rtl"] .logo-icon{
    width: 70px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.logo-icon img{
    width: 100%;
    height: 100%;
}
.selected:after{
    content: '\f00c';
    font-family: fontawesome;
    position: absolute;
    top: 10px;
    text-align: center;
    left: 3px;
    color: rgb(176, 46, 103);
    right: 0;
    bottom: 0;
    font-size: 22px;
    vertical-align: middle;
}
.selected img{
    height: 57px;
    width: 60px;
    opacity: 1;
    border: 2px solid rgb(176, 46, 103);
}
.social .card-content {
    padding: 20px;
}
.font19{
    font-size: 19px;
}
.CommentBox{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.comment,.commentt {
    float: right;
    border-bottom: #F3F3F3 solid 1px;
    padding-bottom: 10px;
    width: 96%;
    margin: 0 2% 10px;
}
.comment .txt {
    font-size: 13px;
    margin-bottom: 4px;
}
.post-img img,.postimg img{
    border: 1px solid #D8DBDE;
    padding: 4px;
       max-height: 270px;
       min-height: 200px;
}

[dir="rtl"] .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    /*margin-right: 0px !important;
    margin-left: 20px !important;*/
    position: relative;
       margin: 0 0 0 8px !important;
}

.post-img-video a:after {
    content: '\f01d';
    font-family: fontawesome;
    position: absolute;
    top: 0;
    text-align: center;
    left: -1px;
    color: rgba(255,255,255,0.88);
    right: 0;
    bottom: 0;
    padding-top: 57px;
    font-size: 56px;
    border-radius: 2px;
    width: 100%;
    background: rgba(49,70,90,0.51);
    transition: 0.21s;
}
.post-img-video:hover  a:after{
padding-left:171px;
padding-top:13px;
padding-bottom:27px;
padding-right:0;
margin-right:0;
width:100%;
color:#D03F42;
font-size:38px;
background:rgba(255,255,255,0.65)
 }
.card .card-title {
    font-size: 17px;
    font-weight: 700;
    position: relative;
    margin: 0;
    padding: 5px 9px;
    border-radius: 3px;
    box-shadow: 0px 3px 15px 2px rgba(238, 238, 238, 0.81);
    border-bottom: 1px solid #eee;
    line-height: 30px;

}
[dir="rtl"] .card .card-title {
        text-align: right;
    }
.card-title a{
        color: #00BCD4;
}
.clearfix{
    clear: both;
}
[dir="rtl"]  .main{
    float: right !important;
}
[dir="rtl"]  .slide{
    float: left !important;
}
[dir="rtl"] .social  .card-title {
     padding-left: 15px;
     padding-right: 0;
     box-shadow: 0px 3px 15px 2px rgba(238, 238, 238, 0);
     border-bottom: none;

}
.CommentBox{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.comment,.commentt {
    float: right;
    border-bottom: #F3F3F3 solid 1px;
    padding-bottom: 10px;
    width: 96%;
    margin: 0 2% 10px;
}
.comment .txt {
    font-size: 13px;
    margin-bottom: 4px;
}
.row {
    margin-bottom: 0px;
}
[dir="rtl"] .navbar nav ul a.drop-down-profile {
    margin-right: 0;
     margin-left: 0px;
}
  @media (max-width: 600px){
.timeline-page .timeline .timeline-event::after {
    right: 19px;
     left: 0px;
}
[dir="rtl"] .timeline-page .timeline .timeline-badge {
    left: inherit;
}
.timeline-page .timeline .timeline-badge {
    right: 0;
}
.timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::before, .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after {
    right: -35px;
}
[dir="rtl"] .timeline-page .timeline .timeline-event .timeline-content .content-box::before, [dir="rtl"] .timeline-page .timeline .timeline-event .timeline-content .content-box::after {
    left: inherit;
}
.timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content .content-box::after {
    background: #fff url(assets/images/timeline_item_content_l.png) no-repeat;
    background-size: 100% 100%;
}
.timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::before, .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
    right: -35px;
}

.timeline-page .timeline .timeline-event:nth-child(even) .timeline-content .content-box::after {
    background: #fff url(assets/images/timeline_item_content_l.png) no-repeat;
    background-size: 100% 100%;
}
.timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-right: 70px;
        margin-left: 0px;
}
.timeline-page .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-right: 70px;
        margin-left: 0px;
}
.timeline-page .timeline .timeline-event .timeline-content .content-box {
    padding: 0 30px 20px;

}
[dir="rtl"] .timeline-page .timeline .timeline-event:nth-child(odd) .timeline-content {
    float: right;
}
[dir="rtl"] .timeline-page .timeline .timeline-event:nth-child(even) .timeline-content {
    width: calc(100% - 70px);
}

    .timeline-page .timeline .timeline-event .timeline-content .content-box {
    padding: 0 20px 20px;

}
}
